In [315]:
import os
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.ticker import MultipleLocator

In [316]:
data = pd.read_csv('Dividend Before Normalization.csv')

data

,Unnamed: 0,Date,ABBV,ABT,ADM,ADP,AFL,ALB,AMCR,AOS,...,SHW,SJM,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
0,614,2014-02,0.00,0.00,0.24,0.000000,0.185,0.000,0.176,0.075,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.00,0.0,0.63
1,615,2014-03,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.000,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.16,0.0,0.00
2,616,2014-04,0.42,0.22,0.00,0.000000,0.000,0.000,0.000,0.075,...,0.000000,0.00,0.00,0.00,0.29,0.00,0.00,0.00,0.1,0.00
3,617,2014-05,0.00,0.00,0.24,0.000000,0.185,0.000,0.000,0.000,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.16,0.0,0.69
4,618,2014-06,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.000,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,730,2023-10,1.48,0.51,0.00,0.000000,0.000,0.000,0.000,0.320,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.0,0.00
117,731,2023-11,0.00,0.00,0.45,0.000000,0.420,0.000,0.125,0.000,...,0.605000,1.06,0.90,0.81,0.00,1.10,0.00,0.00,0.2,0.95
118,732,2023-12,0.00,0.00,0.00,1.400000,0.000,0.400,0.000,0.000,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.22,0.19,0.0,0.00
119,733,2024-01,1.55,0.55,0.00,0.000000,0.000,0.000,0.000,0.320,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.2,0.00
120,734,2024-02,0.00,0.00,0.50,0.000000,0.500,0.000,0.125,0.000,...,0.715000,1.06,0.91,0.00,0.00,1.10,0.00,0.00,0.0,0.95

In [317]:
data = data.drop(columns=['Unnamed: 0'])

data

,Date,ABBV,ABT,ADM,ADP,AFL,ALB,AMCR,AOS,APD,...,SHW,SJM,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
0,2014-02,0.00,0.00,0.24,0.000000,0.185,0.000,0.176,0.075,0.000000,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.00,0.0,0.63
1,2014-03,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.000,0.712303,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.16,0.0,0.00
2,2014-04,0.42,0.22,0.00,0.000000,0.000,0.000,0.000,0.075,0.000000,...,0.000000,0.00,0.00,0.00,0.29,0.00,0.00,0.00,0.1,0.00
3,2014-05,0.00,0.00,0.24,0.000000,0.185,0.000,0.000,0.000,0.000000,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.16,0.0,0.69
4,2014-06,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.000,0.712303,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2023-10,1.48,0.51,0.00,0.000000,0.000,0.000,0.000,0.320,0.000000,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.0,0.00
117,2023-11,0.00,0.00,0.45,0.000000,0.420,0.000,0.125,0.000,0.000000,...,0.605000,1.06,0.90,0.81,0.00,1.10,0.00,0.00,0.2,0.95
118,2023-12,0.00,0.00,0.00,1.400000,0.000,0.400,0.000,0.000,1.750000,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.22,0.19,0.0,0.00
119,2024-01,1.55,0.55,0.00,0.000000,0.000,0.000,0.000,0.320,0.000000,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.2,0.00
120,2024-02,0.00,0.00,0.50,0.000000,0.500,0.000,0.125,0.000,0.000000,...,0.715000,1.06,0.91,0.00,0.00,1.10,0.00,0.00,0.0,0.95

In [318]:
data.columns

Index(['Date', 'ABBV', 'ABT', 'ADM', 'ADP', 'AFL', 'ALB', 'AMCR', 'AOS', 'APD',
       'ATO', 'BDX', 'BEN', 'BF-B', 'BRO', 'CAH', 'CAT', 'CB', 'CHD', 'CHRW',
       'CINF', 'CL', 'CLX', 'CTAS', 'CVX', 'DOV', 'ECL', 'ED', 'EMR', 'ESS',
       'EXPD', 'FRT', 'GD', 'GPC', 'GWW', 'HRL', 'IBM', 'ITW', 'JNJ', 'KMB',
       'KO', 'LEG', 'LIN', 'LOW', 'MCD', 'MDT', 'MKC', 'MMM', 'NDSN', 'NEE',
       'NUE', 'O', 'PEP', 'PG', 'PNR', 'PPG', 'ROP', 'SHW', 'SJM', 'SPGI',
       'SWK', 'SYY', 'TGT', 'TROW', 'WMT', 'WST', 'XOM'],
      dtype='object')

### AMCR, CTAS 제거

In [319]:
data = data.drop(columns=['AMCR', 'CTAS'])

data

,Date,ABBV,ABT,ADM,ADP,AFL,ALB,AOS,APD,ATO,...,SHW,SJM,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
0,2014-02,0.00,0.00,0.24,0.000000,0.185,0.000,0.075,0.000000,0.370,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.00,0.0,0.63
1,2014-03,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.16,0.0,0.00
2,2014-04,0.42,0.22,0.00,0.000000,0.000,0.000,0.075,0.000000,0.000,...,0.000000,0.00,0.00,0.00,0.29,0.00,0.00,0.00,0.1,0.00
3,2014-05,0.00,0.00,0.24,0.000000,0.185,0.000,0.000,0.000000,0.370,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.16,0.0,0.69
4,2014-06,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2023-10,1.48,0.51,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.0,0.00
117,2023-11,0.00,0.00,0.45,0.000000,0.420,0.000,0.000,0.000000,0.805,...,0.605000,1.06,0.90,0.81,0.00,1.10,0.00,0.00,0.2,0.95
118,2023-12,0.00,0.00,0.00,1.400000,0.000,0.400,0.000,1.750000,0.000,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.22,0.19,0.0,0.00
119,2024-01,1.55,0.55,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.2,0.00
120,2024-02,0.00,0.00,0.50,0.000000,0.500,0.000,0.000,0.000000,0.805,...,0.715000,1.06,0.91,0.00,0.00,1.10,0.00,0.00,0.0,0.95

In [320]:
data.columns

Index(['Date', 'ABBV', 'ABT', 'ADM', 'ADP', 'AFL', 'ALB', 'AOS', 'APD', 'ATO',
       'BDX', 'BEN', 'BF-B', 'BRO', 'CAH', 'CAT', 'CB', 'CHD', 'CHRW', 'CINF',
       'CL', 'CLX', 'CVX', 'DOV', 'ECL', 'ED', 'EMR', 'ESS', 'EXPD', 'FRT',
       'GD', 'GPC', 'GWW', 'HRL', 'IBM', 'ITW', 'JNJ', 'KMB', 'KO', 'LEG',
       'LIN', 'LOW', 'MCD', 'MDT', 'MKC', 'MMM', 'NDSN', 'NEE', 'NUE', 'O',
       'PEP', 'PG', 'PNR', 'PPG', 'ROP', 'SHW', 'SJM', 'SPGI', 'SWK', 'SYY',
       'TGT', 'TROW', 'WMT', 'WST', 'XOM'],
      dtype='object')

### BEN, BF-B, PNR, TROW 수정

In [321]:
datacopy = data.copy()

In [322]:
BEN = pd.read_csv('BEN_d_revised.csv')

BEN['Date'] = pd.to_datetime(BEN['Date'])

BEN['Date'] = BEN['Date'].dt.strftime('%Y-%m')

BEN = BEN[(BEN['Date'] >= '2014-02') & (BEN['Date'] <= '2024-02')]


BEN

        Date  Dividends
111  2014-03      0.120
112  2014-06      0.120
113  2014-09      0.120
114  2014-12      0.135
115  2015-03      0.150
116  2015-06      0.150
117  2015-09      0.150
118  2015-12      0.180
119  2016-03      0.180
120  2016-06      0.180
121  2016-09      0.180
122  2016-12      0.200
123  2017-03      0.200
124  2017-06      0.200
125  2017-09      0.200
126  2017-12      0.230
127  2018-03      0.230
128  2018-06      0.230
129  2018-09      0.230
130  2018-12      0.260
131  2019-03      0.260
132  2019-06      0.260
133  2019-09      0.260
134  2019-12      0.270
135  2020-03      0.270
136  2020-07      0.270
137  2020-09      0.270
138  2020-12      0.280
139  2021-03      0.280
140  2021-06      0.280
141  2021-09      0.280
142  2021-12      0.290
143  2022-03      0.290
144  2022-06      0.290
145  2022-09      0.290
146  2022-12      0.300
147  2023-03      0.300
148  2023-06      0.300
149  2023-09      0.300
150  2024-01      0.310

In [323]:
BFB = pd.read_csv('BF-B_d_revised.csv')

BFB['Date'] = pd.to_datetime(BFB['Date'])

BFB['Date'] = BFB['Date'].dt.strftime('%Y-%m')

BFB = BFB[(BFB['Date'] >= '2014-02') & (BFB['Date'] <= '2024-02')]


BFB

        Date  Dividends
109  2014-03     0.1160
110  2014-06     0.1160
111  2014-09     0.1160
112  2014-12     0.1260
113  2015-03     0.1260
114  2015-06     0.1260
115  2015-09     0.1260
116  2015-12     0.1360
117  2016-03     0.1360
118  2016-06     0.1360
119  2016-08     0.1360
120  2016-11     0.1464
121  2017-03     0.1464
122  2017-06     0.1464
123  2017-09     0.1464
124  2017-12     0.1584
125  2018-03     0.1580
126  2018-06     0.1580
127  2018-09     0.1580
128  2018-12     0.1660
129  2019-03     0.1660
130  2019-06     0.1660
131  2019-09     0.1660
132  2019-12     0.1740
133  2020-03     0.1740
134  2020-06     0.1740
135  2020-09     0.1740
136  2020-12     0.1800
137  2021-03     0.1800
138  2021-06     0.1800
139  2021-09     0.1800
140  2021-12     0.1890
141  2021-12     1.0000
142  2022-03     0.1890
143  2022-06     0.1890
144  2022-09     0.1890
145  2022-12     0.2060
146  2023-03     0.2060
147  2023-06     0.2060
148  2023-09     0.2060
149  2023-11     0.2180

In [324]:
PNR = pd.read_csv('PNR_d_revised.csv')

PNR['Date'] = pd.to_datetime(PNR['Date'])

PNR['Date'] = PNR['Date'].dt.strftime('%Y-%m')

PNR = PNR[(PNR['Date'] >= '2014-02') & (PNR['Date'] <= '2024-02')]


PNR

       Date  Dividends
0   2014-04   0.167898
1   2014-07   0.201478
2   2014-10   0.201478
3   2015-01   0.214909
4   2015-04   0.214909
5   2015-07   0.214909
6   2015-10   0.214909
7   2016-01   0.221625
8   2016-04   0.221625
9   2016-07   0.228341
10  2016-10   0.228341
11  2017-01   0.231699
12  2017-04   0.231699
13  2017-07   0.231699
14  2017-10   0.231699
15  2018-01   0.235057
16  2018-04   0.235057
17  2018-07   0.387996
18  2018-10   0.387996
19  2019-01   0.399082
20  2019-04   0.399082
21  2019-07   0.399082
22  2019-10   0.399082
23  2020-01   0.421253
24  2020-04   0.421253
25  2020-07   0.421253
26  2020-10   0.421253
27  2021-01   0.443424
28  2021-04   0.443424
29  2021-07   0.443424
30  2021-10   0.443424
31  2022-01   0.465595
32  2022-04   0.465595
33  2022-07   0.465595
34  2022-10   0.465595
35  2023-01   0.487767
36  2023-04   0.487767
37  2023-07   0.487767
38  2023-10   0.487767
39  2024-01   0.509938

In [325]:
TROW = pd.read_csv('TROW_d_revised.csv')

TROW['Date'] = pd.to_datetime(TROW['Date'])

TROW['Date'] = TROW['Date'].dt.strftime('%Y-%m')

TROW = TROW[(TROW['Date'] >= '2014-02') & (TROW['Date'] <= '2024-02')]


TROW

       Date  Dividends
0   2014-03       0.44
1   2014-06       0.44
2   2014-09       0.44
3   2014-12       0.44
4   2015-03       0.52
5   2015-06       0.52
6   2015-09       0.52
7   2015-12       0.52
8   2016-03       0.54
9   2016-06       0.54
10  2016-09       0.54
11  2016-12       0.54
12  2017-03       0.57
13  2017-06       0.57
14  2017-09       0.57
15  2017-12       0.57
16  2018-03       0.70
17  2018-06       0.70
18  2018-09       0.70
19  2018-12       0.70
20  2019-03       0.76
21  2019-06       0.76
22  2019-09       0.76
23  2019-12       0.76
24  2020-03       0.90
25  2020-06       0.90
26  2020-09       0.90
27  2020-12       0.90
28  2021-03       1.08
29  2021-06       1.08
30  2021-09       1.08
31  2021-12       1.08
32  2022-03       1.20
33  2022-06       1.20
34  2022-09       1.20
35  2022-12       1.20
36  2023-03       1.22
37  2023-06       1.22
38  2023-09       1.22
39  2023-12       1.22

In [326]:
data = data.drop(columns = ['BEN', 'BF-B', 'PNR', 'TROW'])

In [327]:
data.columns

Index(['Date', 'ABBV', 'ABT', 'ADM', 'ADP', 'AFL', 'ALB', 'AOS', 'APD', 'ATO',
       'BDX', 'BRO', 'CAH', 'CAT', 'CB', 'CHD', 'CHRW', 'CINF', 'CL', 'CLX',
       'CVX', 'DOV', 'ECL', 'ED', 'EMR', 'ESS', 'EXPD', 'FRT', 'GD', 'GPC',
       'GWW', 'HRL', 'IBM', 'ITW', 'JNJ', 'KMB', 'KO', 'LEG', 'LIN', 'LOW',
       'MCD', 'MDT', 'MKC', 'MMM', 'NDSN', 'NEE', 'NUE', 'O', 'PEP', 'PG',
       'PPG', 'ROP', 'SHW', 'SJM', 'SPGI', 'SWK', 'SYY', 'TGT', 'WMT', 'WST',
       'XOM'],
      dtype='object')

In [328]:
merged_data = data.copy()

pd.merge(BEN, BFB, how = 'left', on = 'Date')

       Date  Dividends_x  Dividends_y
0   2014-03        0.120       0.1160
1   2014-06        0.120       0.1160
2   2014-09        0.120       0.1160
3   2014-12        0.135       0.1260
4   2015-03        0.150       0.1260
5   2015-06        0.150       0.1260
6   2015-09        0.150       0.1260
7   2015-12        0.180       0.1360
8   2016-03        0.180       0.1360
9   2016-06        0.180       0.1360
10  2016-09        0.180          NaN
11  2016-12        0.200          NaN
12  2017-03        0.200       0.1464
13  2017-06        0.200       0.1464
14  2017-09        0.200       0.1464
15  2017-12        0.230       0.1584
16  2018-03        0.230       0.1580
17  2018-06        0.230       0.1580
18  2018-09        0.230       0.1580
19  2018-12        0.260       0.1660
20  2019-03        0.260       0.1660
21  2019-06        0.260       0.1660
22  2019-09        0.260       0.1660
23  2019-12        0.270       0.1740
24  2020-03        0.270       0.1740
25  2020-07        0.270          NaN
26  2020-09        0.270       0.1740
27  2020-12        0.280       0.1800
28  2021-03        0.280       0.1800
29  2021-06        0.280       0.1800
30  2021-09        0.280       0.1800
31  2021-12        0.290       0.1890
32  2021-12        0.290       1.0000
33  2022-03        0.290       0.1890
34  2022-06        0.290       0.1890
35  2022-09        0.290       0.1890
36  2022-12        0.300       0.2060
37  2023-03        0.300       0.2060
38  2023-06        0.300       0.2060
39  2023-09        0.300       0.2060
40  2024-01        0.310          NaN

In [329]:


def prepare_dividend_df(df, ticker_name):
    df = df.rename(columns={'Dividends': ticker_name})
    df.set_index('Date', inplace=True)
    return df[[ticker_name]]

ben_df = prepare_dividend_df(BEN, 'BEN')
bfb_df = prepare_dividend_df(BFB, 'BFB')
pnr_df = prepare_dividend_df(PNR, 'PNR')
trow_df = prepare_dividend_df(TROW, 'TROW')


data.set_index('Date', inplace=True)


merged_data = data.copy()
merged_data = merged_data.join(ben_df, how='left')
merged_data = merged_data.join(bfb_df, how='left')
merged_data = merged_data.join(pnr_df, how='left')
merged_data = merged_data.join(trow_df, how='left')


merged_data = merged_data.reindex(sorted(merged_data.columns), axis=1)


merged_data

,ABBV,ABT,ADM,ADP,AFL,ALB,AOS,APD,ATO,BDX,...,SHW,SJM,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2014-02,0.00,0.00,0.24,0.000000,0.185,0.000,0.075,0.000000,0.370,0.000000,...,0.183333,0.58,0.30,0.00,0.00,0.43,NaN,0.00,0.0,0.63
2014-03,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,0.531707,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.16,0.0,0.00
2014-04,0.42,0.22,0.00,0.000000,0.000,0.000,0.075,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.29,0.00,NaN,0.00,0.1,0.00
2014-05,0.00,0.00,0.24,0.000000,0.185,0.000,0.000,0.000000,0.370,0.000000,...,0.183333,0.58,0.30,0.00,0.00,0.43,NaN,0.16,0.0,0.69
2014-06,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,0.531707,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10,1.48,0.51,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.50,0.00,NaN,0.00,0.0,0.00
2023-11,0.00,0.00,0.45,0.000000,0.420,0.000,0.000,0.000000,0.805,0.000000,...,0.605000,1.06,0.90,0.81,0.00,1.10,NaN,0.00,0.2,0.95
2023-12,0.00,0.00,0.00,1.400000,0.000,0.400,0.000,1.750000,0.000,0.950000,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.22,0.19,0.0,0.00
2024-01,1.55,0.55,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.50,0.00,NaN,0.00,0.2,0.00
2024-02,0.00,0.00,0.50,0.000000,0.500,0.000,0.000,0.000000,0.805,0.000000,...,0.715000,1.06,0.91,0.00,0.00,1.10,NaN,0.00,0.0,0.95

In [330]:
merged_data = merged_data.fillna(0)

In [331]:
final_data = merged_data


final_data

,ABBV,ABT,ADM,ADP,AFL,ALB,AOS,APD,ATO,BDX,...,SHW,SJM,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2014-02,0.00,0.00,0.24,0.000000,0.185,0.000,0.075,0.000000,0.370,0.000000,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.00,0.0,0.63
2014-03,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,0.531707,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.16,0.0,0.00
2014-04,0.42,0.22,0.00,0.000000,0.000,0.000,0.075,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.29,0.00,0.00,0.00,0.1,0.00
2014-05,0.00,0.00,0.24,0.000000,0.185,0.000,0.000,0.000000,0.370,0.000000,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.16,0.0,0.69
2014-06,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,0.531707,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10,1.48,0.51,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.0,0.00
2023-11,0.00,0.00,0.45,0.000000,0.420,0.000,0.000,0.000000,0.805,0.000000,...,0.605000,1.06,0.90,0.81,0.00,1.10,0.00,0.00,0.2,0.95
2023-12,0.00,0.00,0.00,1.400000,0.000,0.400,0.000,1.750000,0.000,0.950000,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.22,0.19,0.0,0.00
2024-01,1.55,0.55,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.2,0.00
2024-02,0.00,0.00,0.50,0.000000,0.500,0.000,0.000,0.000000,0.805,0.000000,...,0.715000,1.06,0.91,0.00,0.00,1.10,0.00,0.00,0.0,0.95

In [332]:
output_path = 'final_data.csv'
final_data.to_csv(output_path, index=True)

In [333]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 122 entries, 2014-02 to 2024-02
Data columns (total 64 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ABBV    122 non-null    float64
 1   ABT     122 non-null    float64
 2   ADM     122 non-null    float64
 3   ADP     122 non-null    float64
 4   AFL     122 non-null    float64
 5   ALB     122 non-null    float64
 6   AOS     122 non-null    float64
 7   APD     122 non-null    float64
 8   ATO     122 non-null    float64
 9   BDX     122 non-null    float64
 10  BEN     122 non-null    float64
 11  BFB     122 non-null    float64
 12  BRO     122 non-null    float64
 13  CAH     122 non-null    float64
 14  CAT     122 non-null    float64
 15  CB      122 non-null    float64
 16  CHD     122 non-null    float64
 17  CHRW    122 non-null    float64
 18  CINF    122 non-null    float64
 19  CL      122 non-null    float64
 20  CLX     122 non-null    float64
 21  CVX     122 non-null    float64
 22  DOV     122 non-null    float64
 23  ECL     122 non-null    float64
 24  ED      122 non-null    float64
 25  EMR     122 non-null    float64
 26  ESS     122 non-null    float64
 27  EXPD    122 non-null    float64
 28  FRT     122 non-null    float64
 29  GD      122 non-null    float64
 30  GPC     122 non-null    float64
 31  GWW     122 non-null    float64
 32  HRL     122 non-null    float64
 33  IBM     122 non-null    float64
 34  ITW     122 non-null    float64
 35  JNJ     122 non-null    float64
 36  KMB     122 non-null    float64
 37  KO      122 non-null    float64
 38  LEG     122 non-null    float64
 39  LIN     122 non-null    float64
 40  LOW     122 non-null    float64
 41  MCD     122 non-null    float64
 42  MDT     122 non-null    float64
 43  MKC     122 non-null    float64
 44  MMM     122 non-null    float64
 45  NDSN    122 non-null    float64
 46  NEE     122 non-null    float64
 47  NUE     122 non-null    float64
 48  O       122 non-null    float64
 49  PEP     122 non-null    float64
 50  PG      122 non-null    float64
 51  PNR     122 non-null    float64
 52  PPG     122 non-null    float64
 53  ROP     122 non-null    float64
 54  SHW     122 non-null    float64
 55  SJM     122 non-null    float64
 56  SPGI    122 non-null    float64
 57  SWK     122 non-null    float64
 58  SYY     122 non-null    float64
 59  TGT     122 non-null    float64
 60  TROW    122 non-null    float64
 61  WMT     122 non-null    float64
 62  WST     122 non-null    float64
 63  XOM     122 non-null    float64
dtypes: float64(64)
memory usage: 62.0+ KB

In [334]:
final_data.describe()

,ABBV,ABT,ADM,ADP,AFL,ALB,AOS,APD,ATO,BDX,...,SHW,SJM,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
count,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,...,122.000000,122.00000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000
mean,0.319836,0.113361,0.115738,0.265445,0.094918,0.116738,0.066393,0.396209,0.182623,0.249926,...,0.131598,0.28082,0.192377,0.215574,0.128443,0.239344,0.268852,0.058880,0.049180,0.274016
std,0.508622,0.173377,0.167240,0.406075,0.142761,0.166791,0.104716,0.595305,0.268610,0.358756,...,0.206815,0.40503,0.298296,0.315320,0.189724,0.357454,0.412207,0.083286,0.072666,0.389614
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.570000,0.260000,0.300000,0.530000,0.205000,0.305000,0.120000,0.843890,0.420000,0.643902,...,0.280000,0.73000,0.360000,0.550000,0.310000,0.590000,0.540000,0.166667,0.120000,0.750000
max,1.550000,0.550000,0.500000,1.400000,0.500000,0.400000,0.320000,1.750000,0.805000,0.950000,...,0.715000,1.06000,0.910000,0.810000,0.500000,1.100000,1.220000,0.190000,0.200000,0.950000

In [335]:
BFB = pd.read_csv('BF-B_d_revised.csv')
BFB

           Date  Dividends
0    1986-12-01   0.007348
1    1987-03-09   0.006637
2    1987-11-30   0.012089
3    1988-03-07   0.012089
4    1988-06-01   0.012089
..          ...        ...
147  2023-06-07   0.206000
148  2023-09-01   0.206000
149  2023-11-30   0.218000
150  2024-03-07   0.218000
151         NaN        NaN

[152 rows x 2 columns]

In [336]:
BFB2 = BFB.copy()

df = BFB2[109:150]

df

           Date  Dividends
109  2014-03-05     0.1160
110  2014-06-02     0.1160
111  2014-09-04     0.1160
112  2014-12-02     0.1260
113  2015-03-06     0.1260
114  2015-06-01     0.1260
115  2015-09-03     0.1260
116  2015-12-01     0.1360
117  2016-03-07     0.1360
118  2016-06-02     0.1360
119  2016-08-30     0.1360
120  2016-11-30     0.1464
121  2017-03-02     0.1464
122  2017-06-01     0.1464
123  2017-09-06     0.1464
124  2017-12-06     0.1584
125  2018-03-02     0.1580
126  2018-06-05     0.1580
127  2018-09-05     0.1580
128  2018-12-06     0.1660
129  2019-03-01     0.1660
130  2019-06-05     0.1660
131  2019-09-05     0.1660
132  2019-12-04     0.1740
133  2020-03-06     0.1740
134  2020-06-05     0.1740
135  2020-09-03     0.1740
136  2020-12-03     0.1800
137  2021-03-05     0.1800
138  2021-06-07     0.1800
139  2021-09-02     0.1800
140  2021-12-02     0.1890
141  2021-12-08     1.0000
142  2022-03-07     0.1890
143  2022-06-07     0.1890
144  2022-09-02     0.1890
145  2022-12-01     0.2060
146  2023-03-07     0.2060
147  2023-06-07     0.2060
148  2023-09-01     0.2060
149  2023-11-30     0.2180

In [337]:
df.loc[141]

Date         2021-12-08
Dividends           1.0
Name: 141, dtype: object

In [338]:
df.drop(index=141, inplace=True)

df.reset_index(drop=True, inplace=True)

df

/var/folders/br/wv_clq_j04qb0j90qb96j_c00000gn/T/ipykernel_20943/4096852138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=141, inplace=True)

          Date  Dividends
0   2014-03-05     0.1160
1   2014-06-02     0.1160
2   2014-09-04     0.1160
3   2014-12-02     0.1260
4   2015-03-06     0.1260
5   2015-06-01     0.1260
6   2015-09-03     0.1260
7   2015-12-01     0.1360
8   2016-03-07     0.1360
9   2016-06-02     0.1360
10  2016-08-30     0.1360
11  2016-11-30     0.1464
12  2017-03-02     0.1464
13  2017-06-01     0.1464
14  2017-09-06     0.1464
15  2017-12-06     0.1584
16  2018-03-02     0.1580
17  2018-06-05     0.1580
18  2018-09-05     0.1580
19  2018-12-06     0.1660
20  2019-03-01     0.1660
21  2019-06-05     0.1660
22  2019-09-05     0.1660
23  2019-12-04     0.1740
24  2020-03-06     0.1740
25  2020-06-05     0.1740
26  2020-09-03     0.1740
27  2020-12-03     0.1800
28  2021-03-05     0.1800
29  2021-06-07     0.1800
30  2021-09-02     0.1800
31  2021-12-02     0.1890
32  2022-03-07     0.1890
33  2022-06-07     0.1890
34  2022-09-02     0.1890
35  2022-12-01     0.2060
36  2023-03-07     0.2060
37  2023-06-07     0.2060
38  2023-09-01     0.2060
39  2023-11-30     0.2180

In [339]:
final_data.columns

Index(['ABBV', 'ABT', 'ADM', 'ADP', 'AFL', 'ALB', 'AOS', 'APD', 'ATO', 'BDX',
       'BEN', 'BFB', 'BRO', 'CAH', 'CAT', 'CB', 'CHD', 'CHRW', 'CINF', 'CL',
       'CLX', 'CVX', 'DOV', 'ECL', 'ED', 'EMR', 'ESS', 'EXPD', 'FRT', 'GD',
       'GPC', 'GWW', 'HRL', 'IBM', 'ITW', 'JNJ', 'KMB', 'KO', 'LEG', 'LIN',
       'LOW', 'MCD', 'MDT', 'MKC', 'MMM', 'NDSN', 'NEE', 'NUE', 'O', 'PEP',
       'PG', 'PNR', 'PPG', 'ROP', 'SHW', 'SJM', 'SPGI', 'SWK', 'SYY', 'TGT',
       'TROW', 'WMT', 'WST', 'XOM'],
      dtype='object')

In [340]:
data = final_data.copy()

data = data.drop(['BFB'], axis = 1)

data.columns

Index(['ABBV', 'ABT', 'ADM', 'ADP', 'AFL', 'ALB', 'AOS', 'APD', 'ATO', 'BDX',
       'BEN', 'BRO', 'CAH', 'CAT', 'CB', 'CHD', 'CHRW', 'CINF', 'CL', 'CLX',
       'CVX', 'DOV', 'ECL', 'ED', 'EMR', 'ESS', 'EXPD', 'FRT', 'GD', 'GPC',
       'GWW', 'HRL', 'IBM', 'ITW', 'JNJ', 'KMB', 'KO', 'LEG', 'LIN', 'LOW',
       'MCD', 'MDT', 'MKC', 'MMM', 'NDSN', 'NEE', 'NUE', 'O', 'PEP', 'PG',
       'PNR', 'PPG', 'ROP', 'SHW', 'SJM', 'SPGI', 'SWK', 'SYY', 'TGT', 'TROW',
       'WMT', 'WST', 'XOM'],
      dtype='object')

In [341]:
df['Date'] = pd.to_datetime(df['Date'])

# Format 'Date' column to 'YYYY-MM'
df['Date'] = df['Date'].dt.strftime('%Y-%m')

# Display the modified DataFrame
df

/var/folders/br/wv_clq_j04qb0j90qb96j_c00000gn/T/ipykernel_20943/2680391300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])
/var/folders/br/wv_clq_j04qb0j90qb96j_c00000gn/T/ipykernel_20943/2680391300.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df['Date'].dt.strftime('%Y-%m')

       Date  Dividends
0   2014-03     0.1160
1   2014-06     0.1160
2   2014-09     0.1160
3   2014-12     0.1260
4   2015-03     0.1260
5   2015-06     0.1260
6   2015-09     0.1260
7   2015-12     0.1360
8   2016-03     0.1360
9   2016-06     0.1360
10  2016-08     0.1360
11  2016-11     0.1464
12  2017-03     0.1464
13  2017-06     0.1464
14  2017-09     0.1464
15  2017-12     0.1584
16  2018-03     0.1580
17  2018-06     0.1580
18  2018-09     0.1580
19  2018-12     0.1660
20  2019-03     0.1660
21  2019-06     0.1660
22  2019-09     0.1660
23  2019-12     0.1740
24  2020-03     0.1740
25  2020-06     0.1740
26  2020-09     0.1740
27  2020-12     0.1800
28  2021-03     0.1800
29  2021-06     0.1800
30  2021-09     0.1800
31  2021-12     0.1890
32  2022-03     0.1890
33  2022-06     0.1890
34  2022-09     0.1890
35  2022-12     0.2060
36  2023-03     0.2060
37  2023-06     0.2060
38  2023-09     0.2060
39  2023-11     0.2180

In [342]:
data

,ABBV,ABT,ADM,ADP,AFL,ALB,AOS,APD,ATO,BDX,...,SHW,SJM,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2014-02,0.00,0.00,0.24,0.000000,0.185,0.000,0.075,0.000000,0.370,0.000000,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.00,0.0,0.63
2014-03,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,0.531707,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.16,0.0,0.00
2014-04,0.42,0.22,0.00,0.000000,0.000,0.000,0.075,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.29,0.00,0.00,0.00,0.1,0.00
2014-05,0.00,0.00,0.24,0.000000,0.185,0.000,0.000,0.000000,0.370,0.000000,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.16,0.0,0.69
2014-06,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,0.531707,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10,1.48,0.51,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.0,0.00
2023-11,0.00,0.00,0.45,0.000000,0.420,0.000,0.000,0.000000,0.805,0.000000,...,0.605000,1.06,0.90,0.81,0.00,1.10,0.00,0.00,0.2,0.95
2023-12,0.00,0.00,0.00,1.400000,0.000,0.400,0.000,1.750000,0.000,0.950000,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.22,0.19,0.0,0.00
2024-01,1.55,0.55,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.2,0.00
2024-02,0.00,0.00,0.50,0.000000,0.500,0.000,0.000,0.000000,0.805,0.000000,...,0.715000,1.06,0.91,0.00,0.00,1.10,0.00,0.00,0.0,0.95

In [343]:
df = pd.DataFrame(df).rename(columns={"Dividends": "BFB"})


merged_df = pd.merge(data, df, on='Date', how='left')


merged_df

,Date,ABBV,ABT,ADM,ADP,AFL,ALB,AOS,APD,ATO,...,SJM,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM,BFB
0,2014-02,0.00,0.00,0.24,0.000000,0.185,0.000,0.075,0.000000,0.370,...,0.58,0.30,0.00,0.00,0.43,0.00,0.00,0.0,0.63,NaN
1,2014-03,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,...,0.00,0.00,0.50,0.00,0.00,0.44,0.16,0.0,0.00,0.116
2,2014-04,0.42,0.22,0.00,0.000000,0.000,0.000,0.075,0.000000,0.000,...,0.00,0.00,0.00,0.29,0.00,0.00,0.00,0.1,0.00,NaN
3,2014-05,0.00,0.00,0.24,0.000000,0.185,0.000,0.000,0.000000,0.370,...,0.58,0.30,0.00,0.00,0.43,0.00,0.16,0.0,0.69,NaN
4,2014-06,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,...,0.00,0.00,0.50,0.00,0.00,0.44,0.00,0.0,0.00,0.116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2023-10,1.48,0.51,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,...,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.0,0.00,NaN
118,2023-11,0.00,0.00,0.45,0.000000,0.420,0.000,0.000,0.000000,0.805,...,1.06,0.90,0.81,0.00,1.10,0.00,0.00,0.2,0.95,0.218
119,2023-12,0.00,0.00,0.00,1.400000,0.000,0.400,0.000,1.750000,0.000,...,0.00,0.00,0.00,0.00,0.00,1.22,0.19,0.0,0.00,NaN
120,2024-01,1.55,0.55,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,...,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.2,0.00,NaN
121,2024-02,0.00,0.00,0.50,0.000000,0.500,0.000,0.000,0.000000,0.805,...,1.06,0.91,0.00,0.00,1.10,0.00,0.00,0.0,0.95,NaN

In [344]:
merged_df = merged_df.fillna(0)

merged_df = merged_df.reindex(sorted(merged_df.columns), axis=1)

merged_df

,ABBV,ABT,ADM,ADP,AFL,ALB,AOS,APD,ATO,BDX,...,SHW,SJM,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
0,0.00,0.00,0.24,0.000000,0.185,0.000,0.075,0.000000,0.370,0.000000,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.00,0.0,0.63
1,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,0.531707,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.16,0.0,0.00
2,0.42,0.22,0.00,0.000000,0.000,0.000,0.075,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.29,0.00,0.00,0.00,0.1,0.00
3,0.00,0.00,0.24,0.000000,0.185,0.000,0.000,0.000000,0.370,0.000000,...,0.183333,0.58,0.30,0.00,0.00,0.43,0.00,0.16,0.0,0.69
4,0.00,0.00,0.00,0.421422,0.000,0.275,0.000,0.712303,0.000,0.531707,...,0.000000,0.00,0.00,0.50,0.00,0.00,0.44,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,1.48,0.51,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.0,0.00
118,0.00,0.00,0.45,0.000000,0.420,0.000,0.000,0.000000,0.805,0.000000,...,0.605000,1.06,0.90,0.81,0.00,1.10,0.00,0.00,0.2,0.95
119,0.00,0.00,0.00,1.400000,0.000,0.400,0.000,1.750000,0.000,0.950000,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.22,0.19,0.0,0.00
120,1.55,0.55,0.00,0.000000,0.000,0.000,0.320,0.000000,0.000,0.000000,...,0.000000,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.2,0.00
121,0.00,0.00,0.50,0.000000,0.500,0.000,0.000,0.000000,0.805,0.000000,...,0.715000,1.06,0.91,0.00,0.00,1.10,0.00,0.00,0.0,0.95

In [345]:
merged_df['BFB']

0      0.000
1      0.116
2      0.000
3      0.000
4      0.116
       ...
117    0.000
118    0.218
119    0.000
120    0.000
121    0.000
Name: BFB, Length: 122, dtype: float64

In [346]:
output_path = 'final_data_revised.csv'
merged_df.to_csv(output_path, index=False)